In [ ]:
'''
Working with files - 
Reading, Writing files, working with dataframes in Pandas
'''

In [22]:
#Opening a file. Open() is the built-in function to open and read a file
# We open the file using a file object via different modes like Read, Write and Append

f = open('data.txt','r')
print(f.name) #prints the name of the file
print(f.mode) #prints the mode
print(f.read()) #prints the content of the file
f.close() # file should always be closed.

data.txt
r
The world is a beautiful place
We must look after it.
The wind of change

In [23]:
# The best practice to open file is by with statement as it automatically closes the file
with open('data.txt','r') as f1:
    print(f1.read())

The world is a beautiful place
We must look after it.
The wind of change

In [24]:
# we can use readline() method to put each line in a list

In [31]:
f2 = open('data.txt','r')
file_list = f2.readlines()  #puts the content of the file into a list
print(file_list) #prints the list
f2.close()

['The world is a beautiful place\n', 'We must look after it.\n', 'The wind of change']

In [39]:
# Writing into files with 2 modes WRITE and APPEND
# creates the txt file if it is not present. If present it overwrites
sample_list = ['\nPython is super cool','\nWe all should learn it']
with open('WriteEx.txt','w') as fObj:
    fObj.write('I am writing into this file via the python script!')
    for content in sample_list:
        fObj.write(content)

fObj = open('WriteEx.txt','a')
fObj.write('\n\nAppending:')
fObj.write('\nPython is an Object Oriented Language')
fObj.close()

In [46]:
# Working with a handy python library - Pandas. Pandas has pre-built list of libraries and methods 

import pandas as pd

file_path = "data.csv"

df = pd.read_csv(file_path)
df.head() #prints the first 5 rows of the csv file

       Date  Amount   Task
0  12-12-18   309.0  Task1
1  13-12-18   234.0  Task2
2  14-12-18   134.0  Task1
3  15-12-18   384.0  Task2
4  16-12-18   296.5  Task2

In [47]:
#Dataframes are similar to tables where data is stored in a labelled manner with rows and columns. Each Column has a name

dic = {'id':[12,34,12],'marks':[89,34,65],'name':['John','Jhonny','Janardhan']}

df_new = pd.DataFrame(dic)
print(df_new)

   id  marks       name
0  12     89       John
1  34     34     Jhonny
2  12     65  Janardhan

In [53]:
# Accessing the dataframe
df.head()

       Date  Amount   Task
0  12-12-18   309.0  Task1
1  13-12-18   234.0  Task2
2  14-12-18   134.0  Task1
3  15-12-18   384.0  Task2
4  16-12-18   296.5  Task2

In [61]:
print(df.iloc[0,0])
print(df.iloc[0,1])
print(df.iloc[0,2])

12-12-18
309.0
Task1

In [62]:
# slicing dataframes
df2 = df.iloc[0:2,2]
df2.head()

0    Task1
1    Task2
Name: Task, dtype: object

In [63]:
#saving dataframe into a new object
df2.to_csv('newData.csv')

In [65]:
# doing some data preprocessing
df.head()

       Date  Amount   Task
0  12-12-18   309.0  Task1
1  13-12-18   234.0  Task2
2  14-12-18   134.0  Task1
3  15-12-18   384.0  Task2
4  16-12-18   296.5  Task2

In [69]:
print(df['Amount']>300) # this gives a series of boolean results
newDF = df[df['Amount']<300] # creating a new dataframe with certain conditions
newDF.head() #printing the new dataframe created where amount is less than 300

0      True
1     False
2     False
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
Name: Amount, dtype: bool

       Date  Amount   Task
1  13-12-18   234.0  Task2
2  14-12-18   134.0  Task1
4  16-12-18   296.5  Task2